<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyao2221.imooc.log.mapper.DayVideoTrafficsStatMapper">
    <resultMap id="DayVideoTrafficsStatResultMap" type="com.wangyao2221.imooc.log.entity.DayVideoTrafficsStat">
        <result column="day" javaType="VARCHAR" property="day"></result>
        <result column="cms_id" javaType="INTEGER" property="cmsId"></result>
        <result column="traffics" javaType="INTEGER" property="traffics"></result>
    </resultMap>

    <select id="findAll" resultType="com.wangyao2221.imooc.log.entity.DayVideoTrafficsStat">
        select * from day_video_traffics_topn_stat;
    </select>
</mapper>